img {
max-width: 100%;
height: auto;
}

a {
  text-decoration: none;
}

#ms_nav-down, #ms_nav-up, #ms_nav-hidden{
  margin-top: 15px;
}

#welcome {
  margin-top: 150px; /* DEBUG:  */
}

#ms_nav-lg {
  background: white;
}

.relative {
  position: relative;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#designed img {
  max-width: 50%;
}
