/* generali */

a {
  text-decoration: none;
}

h2 {
  color: #031b4e;
  font-size: 36px;
  font-weight: bold;
}

/* header */

  /* nav */

    /* nav visible */

    #ms_nav-lg {
      background: white;
    }

      /* up */
      #ms_nav-up {
        padding: 10px 5px 0;
      }

        #ms_nav-up a {
          color: rgba(129, 129, 129);
        }

        #ms_nav-up a span {
          background-color: #00d7d2;
          border-radius: 5px;
          color: #031b4e;
          padding: 4px 8px;
          font-size: 9px;
        }

      /* down */
      #ms_nav-down {
        border-top: 1px solid rgba(159, 159, 159, 0.5);
        padding: 20px 5px 10px;
      }
      .ms_line_nav {
        line-height: 30px;
      }
    /* nav hidden */

  /* welcome */

  #welcome {
    margin-top: 100px; /* DEBUG:  */
    background-image: url("../img/bg-home-1-d54581d7.jpg");
    padding: 40px 0;
  }

    #ms_home {
      line-height: 30px;
      color: white;
      padding: 40px 0;
    }

      #ms_home h1 {
        font-size:40px ;
        font-weight: 700;
      }

      #ms_home p {
        font-size: 24px;
        color: rgba(255, 255, 255, 0.8);
      }

    #ms_form{
      background-color: white;
      padding: 40px;
      border-radius: 5px;
    }

      #ms_form h3 {
        color: #031b4e;
        font-size: 30px;
        font-weight: 700;
      }

/* main */

  /* section customers */


  #customers {
    width: 100%;
    background: #f3f5f9;
  }

    #customers div{
      padding: 40px;
    }

      #customers div ul li {
        width: calc((100% / 6) - 4px);
        display: inline-block;
      }

        #customers div ul li img {
          max-width: 80%;
          height: auto;
        }


  /* section deploy */

  #deploy div .row {
    margin-bottom: 40px;
  }

  #deploy > div > p {
    color: rgba(3,27,78,0.7);
    font-size: 20px;
    margin-bottom: 40px;
  }

  #deploy div .row ul {
    line-height: 40px;
    border-left: 1px solid rgba(159, 159, 159, 0.5);
  }

    #deploy h4 {
      color: #031b4e;
      margin: 10px 0;
      font-weight: bold;
    }

  /* section designed */
  #designed {
    background: #f3f5f9;
    padding: 50px 0;
  }

    #designed div p {
      color: rgba(3,27,78,0.7);
    }

      #designed div p:first-of-type {
        font-size: 20px;
      }

      #designed div p:last-of-type{
        font-size: 16px;
        margin: 20px 30%;
      }

    #designed div img {
      max-width: 50%;
    }

  /* section built */


  /* section service */

  /* section developments */

  /* section get started */

/* footer */

  /* up */

  /* down */
